* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
  }
  
  .flexRow {
    display: flex;
    flex-direction: row;
  }
  

  
  .navbar {
    justify-content: space-around;
  }
  
  .image {
    background-image: url('./images/chef.png');
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .navLinks {
    gap: 10px;
    align-items: center;
  }
  
  .navLinks a {
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #344563;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .navLinks a:nth-child(1) {
    margin-right: 10px;
  }
  footer {
  padding: 15px;
  margin-top: 50px;
  border-top: 2px solid gray;
}