* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'El Messiri', sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  padding-top: 15px;
  margin-bottom: 72px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.navbar {
  justify-content: space-around;
}

.image {
  background-image: url("./images/chef.png");
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navLinks {
  gap: 10px;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #344563;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.navLinks a:nth-child(1) {
  margin-right: 10px;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 56px;
}

.card .img {
  width: 60%;
}

.card img {
  width: 100%;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.likes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-like {
  font-size: 20px;
  cursor: pointer;
}

button {
  display: block;
  width: 100%;
  padding: 8px;
  background: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button.comment-btn {
  margin-bottom: 20px;
}

footer {
  padding: 15px;
  margin-top: 50px;
  border-top: 2px solid gray;
}

#comment-detail {
  padding-left: 1rem;
}

.comment-content {
  color: black;
  text-align: justify;
  width: 90%;
  border: 2px solid #000;
}

.popup {
  position: fixed;

  /* Stay in place */
  z-index: 1;

  /* Sit on top */
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  top: 50%;
  width: 100%;

  /* Full width */
  height: 100%;

  /* Full height */
  overflow: auto;

  /* Enable scroll if needed */
  background-color: #fff;
}

.close-btn {
  width: 20px;
  height: 20px;
  border: none;
  float: right;
  position: absolute;
  margin-top: 3%;
  font-weight: 900;
  color: #000;
  left: 90%;
  cursor: pointer;
}

.popup-top {
  display: flex;
  width: 90%;
  border: none;
  max-width: 100%;
}

.img-meal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 90%;
  margin-top: 5%;
}

.img-meal-container img {
  height: 100vh;
  margin-bottom: 5rem;
}

.detail {
  display: contents;
  font-weight: 500;
}

.popup-description {
  display: flex;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  margin-left: 11%;
  width: 80%;
  max-width: 100%;
  text-align: justify;
  padding: 4px;
  margin-bottom: 3rem;
}

.desc-title {
  margin-bottom: 0.6rem;
}

#spanh {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.comment-date {
  display: flex;
  margin-left: 11%;
}

.popup_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.detail-4 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#username,
#insight,
.start-date,
.end-date {
  display: block;
  padding: 1rem;
  border: 4px solid black;
  width: 50%;
}

#insight {
  width: 50%;
  height: 35vh;
}

#comment {
  height: 13vh;
  box-shadow: 10px 16px;
  width: 50%;
  border: 3px solid #000;
  margin-bottom: 20rem;
}

.comment-btn,
.reservation-btn {
  box-shadow: 10px 8px;
  border: 3px solid #000;
}

.reserve-date {
  margin-left: 11%;
  display: flex;
}

#reserve-detail {
  padding-left: 1rem;
}

#reserve {
  box-shadow: 10px 8px;
  margin-bottom: 6rem;
  width: 50%;
}
